{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section">
        <br>
        <form method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
            <hr>
        </form>
        <p>If you need an acoount, you can <a href="{% url 'register' %}"><strong>Sign up</strong></a> now.</p>
    </div>

{% endblock %}