{% extends 'main/base.html' %}

{% block content %}
<br>
<div class="container">
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.publisher.profile.image.url }}" onerror="if (this.src != 'default.png') this.src = '/media/default.png'">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 btn btn-lg" href="{% url 'user-reviews' object.publisher.username %}">By {{review.publisher}}</a>
            <small class="text-muted">{{review.date|date:"F d, Y"}}</small>
            <small class="text-muted">{{review.category}}</small>
            {% if review.publisher == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'review-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'review-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h1 class="btn btn-lg article-title"><strong>{{object.title}}</strong></h1>
        <p class="article-content">{{review.content}}</p>
        <!--<p class="article-content">Review rating: <span class="badge rounded-pill bg-dark">{{review.rating}}</span></p>-->
        </div>
        <hr>

        <form action="{% url 'like-review' review.pk %}" method="POST">
            {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button class="btn btn-danger btn-sm" type="submit" name="review_id" value="{{review.id}}">Unlike</button>
            {% else %}
                <button class="btn btn-primary btn-sm" type="submit" name="review_id" value="{{review.id}}">Like</button>
            {% endif %} 
        {% else %}
        <small>Login to like</small>
        {% endif %}
            - {{ total_likes }} likes
        </form>
        <br>
        <div class="container">
            <h2 class="article-title">Comments</h2>
            {% if not review.comments.all %}
                <p>There are no comments yet</p>
            {% else %}
            {% for comment in review.comments.all %}
            <div class="card">
                <div class="card-body">
                    <strong>{{ comment.name }}</strong> - <small class="text-muted">{{ comment.date_added }}</small>
                    <br>
                    {{ comment.content }}
                    {% if comment.name == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' object.id %}">Delete</a>
                        </div>
                     {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <hr>
            <a class="btn btn-lg" href="{% url 'add-comment' review.pk %}"><em>Add comment</em></a>
        </div>
    </article>
</div>
<br>

{% endblock %}
