{% extends 'main/base.html' %}

{% block content %}
<br>
<div class="container">
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.publisher.profile.image.url }}" alt="">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 btn btn-lg" href="{% url 'user-reviews' object.publisher.username %}">By {{object.publisher}}</a>
            <small class="text-muted">{{object.date|date:"F d, Y"}}</small>
            <small class="text-muted">{{object.category}}</small>
            {% if object.publisher == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'review-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'review-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h1 class="btn btn-lg article-title"><strong>{{object.title}}</strong></h1>
        <p class="article-content">{{object.content}}</p>
        <p class="article-content">Review rating: <span class="badge rounded-pill bg-dark">{{object.rating}}</span></p>
        </div>
    </article>
</div>
<br>

{% endblock %}
